/*-------------------- VARIABLES & SETUP ---------------------*/
:root {
    /* Dimensions */
    --page-width: 1920px;

    /* Colors */
    --yellow: #ffdf35;
    --dark-yellow: #cba12f;
    --light-blue: #e2fcc2;
    --medium-blue: #6b9269;
    --blue-green: #3b6750;
    --dark-blue: #144354
}

/* Reset all margins and padding */
* {
    margin: 0;
    padding: 0;
}

/*-------------------- HEADER & NAV BAR ---------------------*/
/* Header Container Div */
.pageHeader {
    padding: 0.5vw;
    background-color: var(--blue-green);
}

/* Header Text */
h1 {
    display: inline-block;
    margin: 1vw;
    vertical-align: middle;
    font-family: 'Amatic SC', cursive;
    color: var(--light-blue);
}

/* Light Bulb Icon on Nav Bar */
.pageIcon {
    width: 3vw;
    padding: 0.75vw;
    vertical-align: middle;
    background-color: var(--medium-blue);
    border: none;
    border-radius: 100%;
}

/*--------------------------- BUTTONS --------------------------*/
/* Navigation Buttons */
.navBtn {
    background-image: linear-gradient(to top left, var(--dark-yellow), var(--yellow));
    border: 2px var(--blue-green) solid;
    color: var(--blue-green);
    padding: 1vw;
}

#getFactBtn {
    background-color: var(--blue-green);
    border: 2px var(--blue-green) solid;
    color: var(--light-blue);
    width: 10vw;
    flex: 1;
    height: 50px;
}

.navBtn, #getFactBtn {
    border-radius: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: calc(0.2 * var(--page-width))pt;
}

#getFactBtn:hover {
    cursor: pointer;
    border: 2px var(--dark-blue) solid;
    font-weight: bold;
    outline: none;
}

/* Button & Nav Tile Hover */
.navBtn:hover, .btnHover {
    cursor: pointer;
    border: 2px var(--light-blue) solid;
    font-weight: bold;
    outline: none;
}

.menuItems {
    display: flex;
    float: right;
    width: 50vw;
}

.inHeader {
    flex: 1;
    margin: 0.6vw;
}

.inNavTile {
    width: 100%;
}

/*---------------- NAVIGATION TILES (HOME PAGE) ---------------*/
/* Navigation Tile Container Div */
#navTileContainer {
    display: flex;
    margin: 2.5vw;
}

/* Navigation Tile */
.navTile {
    flex: 1;
    background-color: var(--light-blue);
    height: 20px;
    margin: 0 2.5vw 2.5vw 2.5vw;
    -webkit-transition: height 0.25s;
    border-radius: 10px;
    text-decoration: none;
}

/* Navigation Tile After Link is Visited */
.navTile:visited {
    color: black;
}

/* Navigation Tile When it is Being Clicked */
.navTile:active {
    color: var(--dark-yellow);
}

/* Navigation Tile Hover */
.navTile:hover {
    height: calc(1 / var(--page-width))px;
    -webkit-transition: height 1.25s;
    border-radius: 10px;
}

/* Navigation Tile Text */
.navTileText {
    display: none;
    margin: 1vw;
    -webkit-transition: display 0.25s;
}

/*------------------------ MAIN PAGE -------------------------*/
/* Main Page Background */
body {
    background-color: var(--dark-blue);
}

/*--------------------- PAGE CONTENT TILE --------------------*/
/* Page Tile Container Div */
.pageTile {
    background-color: var(--light-blue);
    padding: 1vw;
    margin: 5vw;
    border-radius: 10px;
}

#titleTile {
    display: flex;
}

/* Image on Page Tile */
.tileImg {
    padding-left: 1vw;
    height: 15vw;
    object-fit: cover;
    flex: 1;
}

/*------------------------ PAGE TEXT ------------------------*/
p {
    text-align: justify;
}

h2 {
    margin-bottom: 0.5vw;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/*--------------------- DROPDOWN SELECT ----------------------*/
option {
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    color: var(--dark-blue);
    background-color: var(--dark-yellow);
}

select {
    width: 200px;
    font-family: "Times New Roman", serif;
    font-size: 11pt;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to top left, var(--dark-yellow), var(--yellow));
}

